body {
    font-family: 'Noto Serif TC', serif;
    max-width: 1440px;
}
.navbar {
    background:#ec9c46;
}

.nav-link{
    color:#ded0b7;
    margin-right:1em !important;
    font-size:20px;
}

.nav-link:hover {
    /*background: #ded0b7;*/
    color:#fff;
}
.dropdown-toggle {
    padding-top: 8px;
    font-size: 18px;
}
.navbar-brand, .navbar-brand:hover {
    color:#fff;
    font-size:50px;
    font-family: 'Ubuntu Mono', monospace;
}

.navbar-collapse {
    justify-content: flex-start;
}

.navbar-toggler {
    background: #ec9c46;
    color:#000;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

input{
    text-align: center;
}

router-link a{
    text-decoration: none;
}


.m-container {
    background: #501b1d;
    color: #c38d9e;
  overflow: hidden;
  white-space: nowrap;
}

.scrolling {
  animation: marquee 90s linear infinite;
  display: inline-block;
  padding-right: 10px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media only screen and (min-width: 1440px) {
    #mainpartTable{
        width:800px;
    }
    #itemNameSize{
        font-size:18px;
    }
    #itemImageSize{
        width:180px;
        height:180px;
    }
    #descFontSize{
        font-size:13px;
    }
    span.spaceBetImg {
        margin-left:20px;
    }
}

@media only screen and (max-width: 1440px) {
    #mainpartTable{
        width:800px;
    }
    #itemNameSize{
        font-size:18px;
    }
    #itemImageSize{
        width:180px;
        height:180px;
    }
    #descFontSize{
        font-size:13px;
    }
    span.spaceBetImg {
        margin-left:20px;
    }

}

@media only screen and (max-width:1400px){
    #mainpartTable{
        width:618px;
    }
    #itemNameSize{
        font-size:18px;
    }
    #itemImageSize{
        width:160px;
        height:160px;
    }
    #descFontSize{
        font-size:12px;
    }
    span.spaceBetImg {
        margin-left:20px;
    }
}

@media only screen and (max-width:1199px){
    #mainpartTable {
        width: 936px;
    }
    #itemNameSize{
        font-size:18px;
    }
    #itemImageSize{
        width:170px;
        height:170px;
    }
    #descFontSize{
        font-size:13px;
    }
    span.spaceBetImg {
        margin-left:20px;
    }
}

@media only screen and (max-width:991px){
    #mainpartTable{
        width:696px;
    }
    #itemNameSize{
        font-size:18px;
    }
    #itemImageSize{
        width:160px;
        height:160px;
    }
    #descFontSize{
        font-size:11px;
    }
    span.spaceBetImg {
        margin-left:20px;
    }
}

@media only screen and (max-width: 767px) {
    #mainpartTable{
        width:516px;
    }
    #itemNameSize{
        font-size:15px;
    }
    #itemImageSize{
        width:150px;
        height:150px;
    }
    #descFontSize{
        font-size:10px;
    }
    span.spaceBetImg {
        margin-left:10px;
    }
}

@media only screen and (max-width: 575px) {
    #mainpartTable{
        width:535px;
    }
    #itemNameSize{
        font-size:14px;
    }
    #itemImageSize{
        width:140px;
        height:140px;
    }
    #descFontSize{
        font-size:10px;
    }
    span.spaceBetImg {
        margin-left:15px;
    }
}

a.noUnderline {
   text-decoration: none;
}
a.noUnderline:hover {
    text-decoration: underline;
}

.checkOutButton {
    background:#c80004;
    width:110px;
    height:24px;
    padding:1px 4px;
    font-size:13px;
    text-shadow: 1px 1px 0 #000;
    color:#fff;
    text-align: left;
    letter-spacing: 0;
    box-shadow: 1px 1px 2px rgba(255,255,255,.8) inset,-1px -1px 2px rgba(0,0,0,.8) inset;
    z-index:1;
    border:none;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight:400;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c0032;
}

.hero-headline {
    background-size: 100% 200%;
    background: radial-gradient(#eff1ff, #000) 50% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    font-size: 2rem
}

.photoframe{
    width:fit-content;
    display: inline-block;
    margin:1rem 0;
    border: gray 1px solid;
    border-radius: 3px;
    background-size: cover;
    box-shadow: 2px 2px 0 gray,
                3px 3px 4px rgba(0,0,0,.9),
                6px 6px 12px 4px rgba(0,0,0,.25),
                0 0 14px 4px rgba(0,0,0,.15);
}

.categoryLinks {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color:#cafafe;
    margin-left:10px;
}

.liCategoryLinks{
    border-bottom:1px solid #ded0b7;
    width:160px;
    margin-left: auto;
    margin-right:auto;
}

.liCategoryLinks:hover {
    background:#41b3a3;
}
.categoryLinks:hover {
    color:#fff;
}

img.smallproperty {
    width:160px;
    height:45px;
}